@use 'variables';

.error{
    color: variables.$InputErrors;
    margin: -0.625rem 0 1.125rem;
    font-size: .6em;
}

.form__error-container{
    display: flex;
    gap: 5px;
    & div{
        width: 100px;
        text-align: start;
    }
}